body{
	background-image: url("images/tomatoes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
	width: 80%;
	background: none;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom:20px;
}

#header{
	width: 100%;
	padding: 10px;
	background: #000;
	opacity: 0.8;
}

h1{
	font-family: Futura;
	font-size: 30px;
	color: #FFF;
}

h2{
	font-family: Futura;
	font-size: 20px;
}

.introduction{
	font-family: Garamond;
	font-size: 18px;
	margin-bottom: 50px;
}

.indexView{
	padding-left:200px;
	padding-right: 200px;
	padding-top: 100px;
	padding-bottom: 100px;

}

table{
	width:100%;
	margin-top: 20px;

}

.ingredientsDiv{
	background: #fff;
	margin-top:10px;
	border: 2px dashed #CCC;
	border-radius: 20px;
	padding-bottom: 20px;
}

#ingredientsTable {
	margin: 10px;
	font-family: Futura;
	font-size: 14px;
	width:100%;
	margin-top: 20px;
}

#sidebarView {
background-color: #FFF;
margin-right: 10px;
padding: 20px;
}

#dishSearchView {
background: #FFF;
padding: 20px;
}

#dinnerOverviewView {
background: #FFF;
padding: 20px;
}

#dishDetailsView {
background: #FFF;
padding: 20px;
}
#totalPriceView {
margin-top: 10px;
background: #FFF;
padding: 20px;
}

#topBarView {
background: #FFF;
padding: 20px;
margin-bottom: 10px;
}

#indexView {
background: #FFF;
padding: 20px;
}

#sidebarButton{
margin: 20px;
}

#inputBar{
background: #CCC;
padding:5px;
}

#inputBar input{
width: 200px;
padding: 5px;
display: inline-block;
border: 0px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

#numberOfGuests{
width: 20px;
font-family: Futura;
font-size: 30px;
color: #9FF781;
padding: 10px;
}

.vertical-align {
    display: flex;
    align-items: center; 
}

#dishRow{
	margin-top:20px;
}


div.container div.row div.col-sm-3, div.container div.row div.col-sm-9{
padding: 0px;
}

div.container div.row div.col-sm-9{
background: #FFF;
}

#scroll{
	overflow-y: scroll;
    height: 100%;
}

.dishPriceCol {
width: 20px;
}

tfoot {
border-top: 1px solid #000;
font-style: bold;
}

.row{
padding:0px;
margin: 0px;
}


#sidebarDishOverview {
width: 100%;
}